.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px;
    width: fit-content;
    border-radius: var(--container-border-radius);
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
}

.feedback-form>h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s ease-in-out;
}

input[type="radio"]:checked {
    accent-color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 7px;
    overflow: hidden;
}

th,
td {
    text-align: center;
    border: 1px solid #939393;
    padding: 10px;
}

th {
    background-color: #ededed9c;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #919191;
    border-radius: 7px;
    resize: vertical;
}

.button-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 1rem;
}

.second-button {
    font-size: 0.8rem;
    margin-bottom: 0 !important;
}


.button-area>button {
    margin-top: 1.5rem;
    margin: auto;
    padding: 1rem 2rem;
    width: fit-content;
    border-radius: 18px;
    border: none;
    background: #5C4033;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.64);
}

.button-area>.glow-on-hover {
    width: 10rem;
    height: 3.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    color: #ececec;
    background: #3f4b5a;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.glow-on-hover {
    width: 10rem;
    height: 3.5rem;
    border: none;
    outline: none;
    color: #ececec;
    background: #212a37;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 12px;
}

.glow-on-hover:active {
    color: #fff;
    border-radius: 12px;
}

.glow-on-hover:active:after {
    background: transparent;
    border-radius: 12px;
}

.glow-on-hover:hover:before {
    opacity: 1;
    border-radius: 12px;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212a37;
    left: 0;
    top: 0;
    border-radius: 12px;
}

.result-popup {
    position: fixed;
    top: 30px;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 200;
    border-radius: 25px;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
}

.result-popup.slidedown {
    transform: translateY(100px);
    opacity: 1;
}

.result-popup.slideup {
    transform: translateY(-30px);
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }
s
    100% {
        background-position: 0 0;
    }
}

@media screen and (max-width: 768px) {
    .feedback-form {
        max-width: 100%;
    }

    .feedback-form>h1 {
        font-size: 1.2rem;
    }
}