main {
    max-width: 1000px;
}

h2 {
    padding: 0;
}

.park-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: start;
    padding: 30px;
    gap: 30px;
    border-radius: var(--container-border-radius);
    position: relative;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.event-detail {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: var(--container-border-radius);
    position: relative;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.event-detail-image img {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 25px;
}

.event-detail-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-detail-info h1 {
    padding: 0;
    text-align: center;
}

.event-detail-info span {
    font-size: 1rem;
    font-weight: bold;
}

.event-detail-info button {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0 auto;
    padding: 0.3rem 0.7rem;
    background-color: rgba(62, 62, 62, 0.262);
    color: var(--primary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.park-detail-info span {
    font-size: 1rem;
    font-weight: bold;
}

.park-detail-image {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.park-detail-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 4/3;
    border-radius: 25px;
}

.park-detail-info {
    grid-row: span 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.park-detail-info h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

.park-like-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.park-like-box svg {
    cursor: pointer;
}

.park-map {
    grid-row-start: 2;
}

.park-images-list {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    overflow: hidden;
}

.park-images-box {
    flex: 1;
    min-width: 260px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    position: relative;
    aspect-ratio: 4 / 3;
}

.park-images-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 25px;
    cursor: pointer;
}

.park-detail-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.park-detail-nav button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.park-detail-nav button svg {
    transition: 0.3s ease-in-out;
}

main>div>div.park-detail-info>div>a:nth-child(1)>button:hover svg {
    transform: translateX(-20%);
}

main>div>div.park-detail-info>div>a:nth-child(2)>button:hover svg {
    transform: translateX(20%);
}

.comment-item {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.comment-popup-content {
    max-width: 600px;
}

.comment-button {
    display: flex;
    align-items: center;
    margin: 10px auto 0 auto;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.comment-date {
    color: #ededed;
    font-size: 0.9em;
}

.comment-content {
    line-height: 1.5;
}

#commentForm button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px auto 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.nickname {
    margin-bottom: 10px;
    padding: 10px;
    height: 35px;
    border: none;
    border-radius: 7px;
}

.comment-popup {
    opacity: 1;
    visibility: visible;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.comment-popup-content {
    padding: 20px;
    backdrop-filter: blur(8px);
    position: relative;
    display: block;
    width: 80%;
    max-width: 900px;
    border-radius: 25px;
}

.comment-popup-content h2 {
    margin: 10px 0;
}

.close-comment-popup {
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.result-popup {
    position: fixed;
    top: 30px;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 200;
    border-radius: 25px;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
}

.result-popup.slidedown {
    transform: translateY(100px);
    opacity: 1;
}

.result-popup.slideup {
    transform: translateY(-30px);
    opacity: 0;
}

.delete-comment {
    cursor: pointer;
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    position: relative;
    display: block;
    width: 80%;
    max-width: 900px;
    animation: zoom 0.6s;
    border-radius: 25px;
}

.close {
    margin-top: 20px;
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

iframe {
    border-radius: 25px;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
}

@media screen and (max-width: 768px) {
    h2 {
        padding: 10px;
    }

    .park-detail {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        border-radius: 40px;
    }

    .park-detail-image img {
        border-radius: 20px;
        aspect-ratio: 4/3;
    }


    .park-detail-info p {
        padding-left: 10px;
    }

    .park-map {
        position: relative;
        min-width: 100%;
    }

    .park-detail-nav {
        gap: 10px;
    }

    .park-detail-nav button {
        padding: 10px 20px;
    }

    .park-images-box {
        min-width: 150px;
        border-radius: 20px;
    }


    iframe {
        width: 100%;
        max-height: 300px;
        border-radius: 20px;
    }
}