.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-radius: var(--container-border-radius);
    position: relative;
    padding: 30px;
    max-height: fit-content;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
}

.park-event-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    border-radius: var(--container-border-radius);
    position: relative;
    padding: 30px;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease-in-out;
}

.park-event-container h2 {
    padding: 0;
    margin-bottom: 10px;
}

.avatar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.user-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.liked-parks-box,
.saved-events-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.park-card,
.event-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    min-width: 250px;
    max-width: 260px;
    transition: all 0.3s ease;
}

.park-card:hover,
.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.park-card img,
.event-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.park-card h3,
.event-card h3 {
    flex: 1;
    padding: 10px;
    margin: 0;
    font-size: 1.1em;
}

.view-park-btn,
.view-event-btn {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 0.4rem 0.7rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.view-park-btn:hover,
.view-event-btn:hover {
    transform: translateY(-2px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.no-parks-message {
    text-align: center;
    color: #fcf8db;
}

.avatar-box button,
.user-box button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
}


.avatar-box button:hover,
.user-box button:hover {
    background-color: #e1e1e1;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.edit-btn-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.avatar-box img {
    width: 180px;
    height: 180px;
    border-radius: 25px;
}

.user-info {
    position: relative;
    display: flex;
    width: fit-content;
    height: 180px;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(225, 225, 225, 0.242);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.user-info span {
    font-size: 1.2rem;
    font-weight: bold;
}

.avatar-popup,
.info-popup {
    display: none;
    /* Ẩn popup mặc định */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.331);
    /* Màu nền tối */
}


.popup-content,
.info-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    background-color: rgba(225, 225, 225, 0.187);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    max-width: 600px;
    border-radius: 35px;
    text-align: center;
    z-index: 999;
}

.info-popup-content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-popup-content form {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 10px;
}

#editForm div label {
    align-self: center;
    text-wrap: nowrap;
}

.info-popup-content form input {
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}

#editForm>div.infoBtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#editForm>div.infoBtn>button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.info-popup-content form div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.avtBtn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popup-content button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.avatar-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.avatar-option {
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
}

.avatar-option:hover {
    border: 2px solid #00ff51;
    /* Đổi màu viền khi hover */
}

.avatar-option.clicked {
    border: 2px solid #00ff51;
    /* Thay đổi màu viền khi được chọn */
    transition: border 0.3s;
    /* Hiệu ứng chuyển tiếp */
}

.result-popup {
    position: fixed;
    top: 30px;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 200;
    border-radius: 25px;
    background-color: rgba(62, 62, 62, 0.262);
    backdrop-filter: blur(8px);
    border: solid 1px rgba(255, 255, 255, 0.5);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
}

.result-popup.slidedown {
    transform: translateY(100px);
    opacity: 1;
}

.result-popup.slideup {
    transform: translateY(-30px);
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        max-height: none;
        gap: 20px;
        max-width: 95%;
        border-radius: 40px;
    }

    .park-event-container {
        gap: 20px;
        padding: 20px;
        border-radius: 40px;
    }

    .popup-content {
        width: 80%;
    }

    .park-card,
    .event-card {
        min-width: 150px;
    }
}